@use './partials/global' as *;
@use './partials/anims' as *;

.heroSection{
    background-color : var(--colNitro-Pink);
    padding-left: 40rem;
    padding-right: 40rem; 
    padding-bottom: 40rem;
    display: flex;
    justify-content: space-around;

    &__left{
        width: 380rem;
        padding-top: 100rem;
        padding-right: 20rem;
    }
}

.button__offsetbackground{
    background-color: var(--colNitro-Blue);
    width:177rem;
    height: 57rem;
    position: relative;
    margin-top:40rem;

    &--product{
        margin:auto;
    }
}

.button{
    width:180rem;
    height: 60rem;
    font-size: 20rem; 
    color: var(--colWhite);
    margin-top: 20rem;
    padding-top: 20rem;
    padding-bottom: 20rem;
    border: none;
    background-color: var(--colNitro-Blue);

    &--withoffset{
        margin-top: 0px;
        position: absolute;
        top: -6px;
        left: -6px;
        background-color: transparent;
        border: 2px solid var(--colGraphite);

        &:hover{
            animation: anim__resetpos;
            animation-duration: 0.0s;
            animation-fill-mode: forwards;
        }
    }
}

.productsel {
    background-color: var(--colLightGray);

    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title{
        text-align: center;
    }

    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--colWhite);
        width: 330rem;
        height: 440rem;
        padding-top: 40rem;
        margin-left: 80rem;
        margin-top: 40rem;
        margin-bottom: 20rem;
        box-shadow: 0px 5px 9px 1px rgb(0,0,0,0.25);
        border-radius: 10px;
        border-width: 0px;

        
        &__topCont{
            text-align: center;

            &__img {
                height: 280rem;
            }
        }

        &__bottomCont{
            display: flex;
            justify-content: space-evenly;
            background-color: var(--colNitro-Pink);
            border-radius: 0px 0px 10px 10px;
            width: 100%;
            padding-bottom: 5px;
            height: 140rem;

            &__left{
                display: flex;
                flex-direction: column;
                justify-content: center;

                &__title{
                    font-size: 33rem;
                    margin: 0px;
                }
                
                &__desc{
                    font-size: 20rem;
                    color: gray;
                    margin: 0px;
                }
            }
            
            &__right{
                display: flex;
                align-items: center;

                &__price{
                    color: var(--colNitro-Blue);
                    font-size: 33rem;
                    font-weight: 700;
                }
                
            }
        }
    }
    &__bottom{
        padding-top : 60rem;
        padding-bottom: 60rem;
        background-color: var(--colLightGray);
    }
}


.corpinfoCont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100rem;

    &__leftCont{
        display: flex;
        flex-direction: column;
        padding-left: 40rem;
        padding-right: 40rem;

        &__text{
            width: 460rem;
        }
        
        &__icons{
            display: flex;
            justify-content: space-between;
        }
    }

    &__rightCont{
        background-image: url("/assets/images/coldbrewbackground.png");
        background-size: 400px;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400rem;
        height: 400rem;
        position: relative;

        &__border{
            position:absolute;
            top:-20px;
            left:-20px;
            width: 400rem;
            height: 400rem;
            border: 5px solid var(--colNitro-Blue);
            pointer-events: none;
        }

        &__imgCont{
            display: flex;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            justify-content: center;
            align-items: center;
            /* background-color: blue; */   
        }
        
        &__imgCont:hover{
            /* background-color: brown; */
            animation: anim__rotate;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        } 
    }
}


.discount{
    background-color: var(--colGraphite);
    margin: auto;
    color: var(--colWhite);
    width:90%;
    padding-top: 40rem;
    padding-bottom: 40rem;
    margin-top: 200rem;
    margin-bottom: 200rem;
    animation: cycle_colors;
    animation-duration: 1.25s;
    animation-direction: alternate;
    animation-iteration-count: infinite ;

    &__text{
        font-size: 45rem;
        font-weight: 400;
        margin: 0px;
        text-align: center;

        &--bold{
            font-weight: 700;
       }
    }
}


.footerSection{
background-color: var(--colNitro-Pink);
display: flex;
justify-content: space-around;
padding-top: 75rem;
padding-bottom: 75rem;
position: relative;

    &__leftImg{
        position: absolute;
        width: 120px;
        opacity: 25%;
        left:-40px;
        top:20px;
    }

    &__rightImg{
        position: absolute;
        width: 120px;
        opacity: 25%;
        right:-40px;
        bottom:0px;

    }
    &__card{
        background-color: var(--colNitro-Pink);
        &__text{
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}