:root {
  --colNitro-Blue: #5bacc3;
  --colNitro-Pink: #fff0ed;
  --colGraphite: #393939;
  --colLightGray: #F7F7F7;
  --colWhite: #FFFFFF;
  font-size: 1px;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--colGraphite);
}

h1, h2 {
  font-size: 60rem;
  font-weight: 300;
}

h3 {
  font-size: 33rem;
  font-weight: 300;
}

a {
  font-size: 21rem;
  font-weight: 400;
}

p {
  font-size: 18rem;
  font-weight: 500;
}

p i {
  font-size: 18rem;
  font-weight: 500;
}

p b {
  font-weight: 700;
}

.icon {
  height: 50px;
}

.sitenav {
  width: 100%;
  height: 100rem;
  margin: 0px;
  padding: 0px;
  background-color: var(--colNitro-Pink);
  display: flex;
  justify-content: space-between;
}

.sitenav__logoContainer {
  display: flex;
  align-items: flex-start;
}

.sitenav__icon {
  margin-top: 20rem;
  margin-left: 20rem;
  /* background-color: olive; */
}

.sitenav__title {
  /* background-color: aqua; */
}

.sitenav__title__text {
  margin: 0px;
  font-size: 50rem;
  margin-right: 20rem;
}

.sitenav__bar {
  width: 50%;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  /* background-color:orange; */
}

.sitenav__bar__menu {
  /* display: inline-block; */
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
  margin-right: 20rem;
  padding: 0px 0px 10rem 0px;
  /* background-color: red; */
}

.sitenav__bar__menu__item {
  /* display: inline-block; */
  padding-left: 20rem;
  margin: 0px;
  /* background-color: yellowgreen; */
}

.sitenav__bar__menu__item__link {
  font-size: 21rem;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: var(--colGraphite);
}

.sitenav__bar__menu__item__link--highlight {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: var(--colNitro-Blue);
}

body {
  margin: 0px;
  /* max-width: 1300rem; */
}

.heroSection {
  background-color: var(--colNitro-Pink);
  padding-left: 40rem;
  padding-right: 40rem;
  padding-bottom: 40rem;
  display: flex;
  justify-content: space-around;
}

.heroSection__left {
  width: 380rem;
  padding-top: 100rem;
  padding-right: 20rem;
  /* float:left; */
}

.heroSection__right {
  /* float:right; */
}

.button__offsetbackground {
  background-color: var(--colNitro-Blue);
  width: 177rem;
  height: 57rem;
  position: relative;
  margin-top: 40rem;
}

.button__offsetbackground--product {
  margin: auto;
}

.button {
  width: 180rem;
  height: 60rem;
  font-size: 20rem;
  color: var(--colWhite);
  margin-top: 20rem;
  padding-top: 20rem;
  padding-bottom: 20rem;
  border: none;
  background-color: var(--colNitro-Blue);
}

.button--offset {
  margin-top: 0px;
  position: absolute;
  top: -6px;
  left: -6px;
  background-color: transparent;
  border: 2px solid var(--colGraphite);
}

@keyframes anim__buttonhover {
  100% {
    top: 0px;
    left: 0px;
  }
}
.button--offset:hover {
  animation: anim__buttonhover;
  animation-duration: 0s;
  animation-fill-mode: forwards;
}

.productsel {
  background-color: var(--colLightGray);
}

.productsel__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: yellow; */
}

.productsel__title {
  /* background-color: orange; */
  text-align: center;
}

.productsel__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--colWhite);
  width: 330rem;
  height: 440rem;
  padding-top: 40rem;
  margin-left: 80rem;
  margin-top: 40rem;
  margin-bottom: 20rem;
  box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-width: 0px;
}

.productsel__card__top {
  text-align: center;
}

.productsel__card__bottom {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--colNitro-Pink);
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  padding-bottom: 5px;
  height: 140rem;
}

.productsel__card__bottom__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productsel__card__bottom__right {
  display: flex;
  align-items: center;
}

.productsel__card__price {
  color: var(--colNitro-Blue);
  font-size: 33rem;
  font-weight: 700;
}

.productsel__card__title {
  font-size: 33rem;
  margin: 0px;
}

.productsel__card__desc {
  font-size: 20rem;
  color: gray;
  margin: 0px;
}

.productsel__card__img {
  height: 280rem;
}

.productsel__bottom {
  /* background-color: green; */
  padding-top: 60rem;
  padding-bottom: 60rem;
  background-color: var(--colLightGray);
}

.corpinfoCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100rem;
}

.corpinfoCont__left {
  display: flex;
  flex-direction: column;
  padding-left: 40rem;
  padding-right: 40rem;
}

.corpinfoCont__right {
  background-image: url("/assets/images/coldbrewbackground.png");
  background-size: 400px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400rem;
  height: 400rem;
  position: relative;
}

.corpinfoCont__right__border {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 400rem;
  height: 400rem;
  border: 5px solid var(--colNitro-Blue);
  pointer-events: none;
}

@keyframes anim__rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.corpinfoCont__imgCont {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.corpinfoCont__imgCont:hover {
  /* background-color: brown; */
  animation: anim__rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.corpinfoCont__text {
  width: 460rem;
}

.corpinfoCont__icons {
  display: flex;
  justify-content: space-between;
}

@keyframes cycle_colors {
  100% {
    background-color: var(--colNitro-Blue);
  }
}
.discount {
  background-color: var(--colGraphite);
  margin: auto;
  color: var(--colWhite);
  width: 90%;
  padding-top: 40rem;
  padding-bottom: 40rem;
  margin-top: 200rem;
  margin-bottom: 200rem;
  animation: cycle_colors;
  animation-duration: 1.25s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.discount__text {
  font-size: 45rem;
  font-weight: 400;
  margin: 0px;
  text-align: center;
}

.discount__text--bold {
  font-weight: 700;
}

.footerSection {
  background-color: var(--colNitro-Pink);
  display: flex;
  justify-content: space-around;
  padding-top: 75rem;
  padding-bottom: 75rem;
  position: relative;
}

.footerSection__leftImg {
  position: absolute;
  width: 120px;
  opacity: 25%;
  left: -40px;
  top: 20px;
}

.footerSection__rightImg {
  position: absolute;
  width: 120px;
  opacity: 25%;
  right: -40px;
  bottom: 0px;
}

.footerSection__card {
  background-color: var(--colNitro-Pink);
}

.footerSection__card__text {
  margin-top: 0px;
  margin-bottom: 0px;
}/*# sourceMappingURL=landing.css.map */