$colNitro-Blue : #5bacc3;
$colNitro-Pink : #fff0ed;
$colGraphite : #393939;
$colLightGray: #F7F7F7;
$colWhite: #FFFFFF;

// :root{
//     --colNitro-Blue : #5bacc3;
//     --colNitro-Pink : #fff0ed;
//     --colGraphite : #393939;
//     --colLightGray: #F7F7F7;
//     --colWhite: #FFFFFF;
// }