:root{
    --colNitro-Blue : #5bacc3;
    --colNitro-Pink : #fff0ed;
    --colGraphite : #393939;
    --colLightGray: #F7F7F7;
    --colWhite: #FFFFFF;
    font-size: 1px;
}


body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: var(--colGraphite);
}

h1,h2 {
    font-size: 60rem;
    font-weight: 300;
}

h3 {
    font-size: 33rem;
    font-weight: 300;
}

a{
    font-size:21rem;
    font-weight: 400;
}

p{
    font-size:18rem;
    font-weight: 500;
}

p i{
    font-size:18rem;
    font-weight: 500;
}

p b{
    font-weight:700;
}

.icon{
    height:50px;
}


.sitenav{
    width: 100%;
    height: 100rem;
    margin: 0px;
    padding: 0px;
    background-color: var(--colNitro-Pink);
    display: flex;
    justify-content: space-between;
}

.sitenav__logoContainer{
    display: flex;
    align-items: flex-start;
}

.sitenav__icon{
    margin-top: 20rem;
    margin-left: 20rem;
    /* background-color: olive; */
}

.sitenav__title{
    /* background-color: aqua; */
}

.sitenav__title__text{
    margin : 0px;
    font-size: 50rem;
    margin-right: 20rem;
}

.sitenav__bar{
    width: 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    /* background-color:orange; */
}

.sitenav__bar__menu{
    /* display: inline-block; */
    display:flex;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    margin-right: 20rem;
    padding: 0px 0px 10rem 0px;
    /* background-color: red; */
}

.sitenav__bar__menu__item{
    /* display: inline-block; */
    padding-left: 20rem;
    margin: 0px;
    /* background-color: yellowgreen; */
}

.sitenav__bar__menu__item__link{
    font-size: 21rem;
    font-weight:400;
    padding:0px;
    margin:0px;
    text-decoration: none;
    color: var(--colGraphite);
}

.sitenav__bar__menu__item__link--highlight{
    padding:0px;
    margin:0px;
    text-decoration: none;
    color: var(--colNitro-Blue);
}